.workspace {
     display: flex;
     height: 100vh;
}

/* LEFT – EDITOR */
.workspace>div:first-child {
     flex: 2;
     padding: 20px;
}

.workspace textarea {
     width: 100%;
     height: 320px;
     padding: 14px;
     border-radius: 8px;
     border: none;
     background: #020617;
     color: #e5e7eb;
     font-family: monospace;
     font-size: 14px;
}

.workspace button {
     margin-top: 10px;
     padding: 8px 14px;
     border-radius: 6px;
     border: none;
     background: #22c55e;
     color: white;
     cursor: pointer;
}

.workspace button:hover {
     background: #16a34a;
}

/* RIGHT – SIDEBAR */
.workspace>div:last-child {
     flex: 1;
     padding: 20px;
     background: #f1f5f9;
     border-left: 1px solid #cbd5f5;
}

.workspace input {
     width: 100%;
     padding: 8px;
     border-radius: 6px;
     border: 1px solid #cbd5f5;
     margin-bottom: 8px;
}

.workspace ul {
     list-style: none;
     padding: 0;
     font-size: 13px;
}

.workspace li {
     background: white;
     margin-bottom: 6px;
     padding: 6px;
     border-radius: 6px;
}

/* DARK MODE */
.dark .workspace>div:last-child {
     background: #020617;
     border-left: 1px solid #1e293b;
}

.dark .workspace li {
     background: #020617;
     border: 1px solid #1e293b;
}